* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

nav {
    background-color: seagreen;
    width: 100%;
    height: 10vh;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; height: 100%;
    margin-right: auto; margin-left: auto;
}

.search {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto; margin-right: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 50%;
    height: 4vh;
    border-radius: 30px;
    background-color: white;
    border: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

nav input {
    background-color: transparent;
    border: none;
    border-radius: 30px;
    padding: 0 20px;
    height: 4vh;
    width: 100%;
    outline: none;
}

nav button {
    border: none;
    border-radius: 30px;
    height: 3vh;
    min-width: 5vh;
    margin: 0 5px 0 5px;
    background-color: goldenrod;
    color: white;
    cursor: pointer;
}

.icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.icons span{
    font-size: 28px;
    color: goldenrod;
    padding: 0 1rem;
}

#icon img {
    width: 12em;
    height: 4.5rem;
}

.nav-bar {
    background-color: goldenrod;
    width: 100%;
    height: 4vh;
}

.nav-bar ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-left: auto; margin-right: auto;
    height: 100%;
}

.nav-bar li {
    list-style: none;
    color: white;
    padding: 0 2rem;
    overflow: hidden;
}

.nav-bar li:last-child {margin-left: auto;}

hr {
    margin: 20px 0 20px 0;
}

body {
    background-color: #eeeeee;
}

.container {
    margin-left: auto; margin-right: auto;
    width: 80%;
}

.banner-section {
    width: 100%;
    padding: 5vh 0;
}

.banners {
    display: flex;
    width: 100%;
}

.big-banner {
    margin: 5px;
    width: 65%;
}

.small-banner {
    display: flex;
    flex-direction: column;
}

.small-banner img {
    width: 100%;
    height: 50%;
    margin: 5px;
}

.categories-section {
    width: 100%;
    padding: 5vh 0;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
}

.categories {
    margin: auto; margin-top: 1rem;
    text-align: center;
}

.categories h3 {
    font-weight: normal;
}

.category-box {
    background-color: #E5E4E0;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-bottom: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}

.product-section {
    padding: 5vh 0;
    height: auto;
}

.product-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto 20px auto;
    background-color: #E5E4E0;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}

.product img {
    object-fit: cover;
    max-width: 240px;
    max-height: 245px;
    cursor: pointer;
    transition: 0.5s;
}

.product img:hover{
    transform: scale(1.05, 1.05);
}

.product-details {
    border-radius: 0 0 30px 30px;
    padding: 20px;
    max-width: 295px;
    max-height: 145px;
    background-color: #f8f8f8;
}

.product-details h5 {
    font-weight: normal;
    color: #000000cc;
}

.product-option {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.product-option button {
    height: 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

#buy-now {
    width: 150px;
    background-color: seagreen;
    color: white;
}

#add-to-cart {
    width: 125px;
    color: black;
}

@media screen and (max-width: 650px) {
    .nav-bar {
        visibility: hidden;
    }

    .icons {
        visibility: hidden;
    }

    .search {
        visibility: hidden;
    }
}